body{
    font-family: 'Fira Sans', sans-serif;
    color: #222222;
}
button{
    display: block !important;
    border: none !important;
    background: transparent !important;
}
h1, h2, h3, h4, h5, h6{
    font-style: normal !important;
    font-weight: 700 !important;
    color: #151515 !important;
    margin: 0 !important;
    padding: 0 !important;
}
ul, li{
    display: block;
    padding: 0;
    margin: 0;
}
.btn{
    background: #303984 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    padding: 13px 26px !important;
    display: inline !important;
    letter-spacing: 0.3em !important;
    text-align: center;
}
.btn:hover{
    background: #3726f2 !important;
    color: #fff !important;
}
.btn>a{
    color: #fff !important;
    text-decoration: none;
}
.header{
    height: 31vh;
}
.nav{
    margin-top: 59px !important;
    margin-bottom: 60px !important;
}
.slider-gl{
    max-width: 90% !important;
}
.menu_header{
    display: flex;
}
.menu_header>li>a{
    text-decoration: none;
    margin-right: 27px;
    color: #787777;
}
.vh-dependent{
    display: flex !important;
    align-items: center !important;
}
.be-static{
    position: static !important;
}
.offer-cont{
    width: 400px;
}
.offer-cont__title{
    font-size: 23px;
    letter-spacing: -0.02em;
    line-height: 1.2em;
}
.offer-cont__text{
    margin: 30px 0 56px;
}
.hero{
    background: url("../img/vanna.png") no-repeat right top;
    background-size: 80% 100%;
    width: 55%;
    height: 80vh;
    position: absolute;
    right: 0;
    top: 142px;
}
.problems{
    padding-top: 137px;
}
.about{
    margin-bottom: 31px;
}
.about__title{
   margin-bottom: 30px !important;
}
.about__author{
    background: url('../img/author.jpg') no-repeat left center;
    padding: 7px 0 7px 96px;
    margin-top: 61px;
}
.section-title__label{
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.25em;
    color: #8f8f8f;
    margin-bottom: 40px;
    font-weight: bold;
}
.section-title__heading{
    color: #fff !important;
}
.partners-h6{
    background-color: #303984;
    padding: 21px;
    border-radius: 17px;
    color: #fff !important;
}
.partners{
    margin-top: 70px;
    margin-bottom: 70px;
}
.services{
    padding-top: 142px;
}
.serv-list{
    color: #8D8D8D;
    margin-top: 67px;
}
.serv-list__items{
    margin-bottom: 20px;
}
.serv-list__left{
    margin-left: 167px;
    margin-right: 100px;
}
.item, .owl-item {
    width: 825px !important;
    margin-left: 20px;
}
.owl-nav {
    margin-top: 30px !important;
}
.owl-carousel .owl-prev{
    margin-right: 25px !important;
}
.owl-carousel{
    margin-top: 99px;
    margin-bottom: 100px;
}
.owl-carousel__play{
    display: block;
    background: url('../img/play-button.png') no-repeat;
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    cursor: pointer;
}
.services-two{
    margin-bottom: 150px;
    margin-top: 150px;
}
.services-two__img{
    background: url('../img/Placeholderr.png') no-repeat;
    height: 417px;
    width: 570px;
    position: absolute;
}
.services-two__img img{
    position: relative;
    right: -315px;
    top: 99px;
}
.services-two__text{
    margin-top: 20px !important;
    margin-bottom: 148px !important;
}
.services-two__text__title{
    margin-bottom: 10px !important;
}
.services-title__h{
    margin-bottom: 50px !important;
}
.defign__one{
    background: url('../img/icon.png') no-repeat;
    padding: 7px 0 7px 96px;
    margin-top: 55px;
}
.defign__two{
    background: url('../img/Bagicon.png') no-repeat;
    padding: 7px 0 7px 96px;
    margin-top: 55px;
}
.wrapperr {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 200px);
    grid-column-gap: 27px;
    grid-row-gap: 19em;
}
.wrapper2{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 200px);
    grid-column-gap: 27px;
    grid-row-gap: 4em;
}


#san{
    background-color: #303984;
    margin-top: 150px;
}
.ourWorks-ul {
    display: flex;
    margin-left: 125px;
}
.ourWorks-ul__li{
    margin-right: 24px;
}
.ourWorks-gallery__img{
    display: none;
}
.ourWorks-gallery>img:hover{
    display: block;
}
.btn-adap>a {
    color: #ffffff !important;
}
#ourWorks-image1{
    background-color: #fff;
    border-radius: 7px;
}
#ourWorks-image2{
    background-color: #fff;
    border-radius: 7px;
}
#ourWorks-image3{
    background-color: #fff;
    border-radius: 7px;
}
#ourWorks-image4{
    background-color: #fff;
    border-radius: 7px;
}
#ourWorks-image5{
    background-color: #fff;
    border-radius: 7px;
}
#ourWorks-image6{
    background-color: #fff;
    border-radius: 7px;
}
.ourWorks-gallery{
    width: 307px;
    height: 343px;
}
.block-padding{
    height: 326px;
    width: 225px;
    margin-right: auto;
    margin-left: auto;
}
.block-padding>img{
    width: 200px;
    height: 202px;
    margin-bottom: 28px;
    margin-left: 11px;
    margin-top: 40px;
    box-shadow: 0px 0px 15px 10px #4c4e52;
}
.block-padding>h4{
    margin-bottom: 14px !important;
    padding-top: 7px !important;
}
.offer-cont__btn{
    background: #d8110e !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 10px !important;
    padding: 8px 20px !important;
    display: inline !important;
    letter-spacing: 0.3em !important;
    text-align: center;
    transition: all 0.5s ease;
    margin-bottom: 5px;
    margin-left: 11px;
    margin-top: 20px !important;
    border-radius: 7px;
    width: 200px;
}
.owp{
    padding-top: 44px;
}
.offer-cont__btn>a {
    color: #fff !important;
}
.ourWorks-sect2{
    margin-bottom: 30px;
}
.ourWorks-sect1{
    margin-bottom: 50px;
}
.ourWorks-sect3{
    margin-bottom: 80px;
}
.seeourworks{
    margin-bottom: 50px;
}
.s-b{
    margin-left: 32px;
    background-color: #d07628 !important;
}

.btn-adap {
    background: #303984;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 13px 26px;
    display: inline;
    letter-spacing: 0.3em;
    text-align: center;
}
.autoplay div>img{
    width: 100% !important;
}
.slick-prev{
    left: -52px !important;
}
.slick-prev:before  {
    content: url('../img/left1.png') !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 20px;
}
.slick-next:before{
    content: url('../img/right1.png') !important;
    width: 32px !important;
    height: 32px !important;
    margin-left: 4px;
}
.slick-next {
    right: 39px;
}
.testimonials{
    margin-top: 38px;
    margin-bottom: 200px;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    margin-bottom: 26px;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.tabs {
    display: flex;
    flex-direction: column;
}
  .tabs__links {
    display: flex;
    flex-direction: row;
    order: 0;
    white-space: nowrap;
    margin-bottom: 15px;
    background-color: #fff;
    width: 312px;
    height: 131px;
    float: left;
}
  .tabs__links>a {
    display: inline-block;
    text-decoration: none;
    color: #1976d2;
    padding: 6px 10px;
    text-align: center;
  }
  .tabs__links>a:hover {
    border-left: 2px solid #1e398d;
  }
  .tabs__links>a:active {
    color: #fff !important;
    background: #1e398d;
  }
  .tabs>#content-1:target~.tabs__links>a[href="#content-1"],
  .tabs>#content-2:target~.tabs__links>a[href="#content-2"],
  .tabs>#content-3:target~.tabs__links>a[href="#content-3"] {
    background-color: #1e398d;
    cursor: default;
    color: #fff !important;
  }
  .tabs>div:not(.tabs__links) {
    display: none;
    order: 1;
    flex-grow: 1;
  }
  @media (min-width: 576px) {
    .tabs {
      flex-direction: row;
    }
    .tabs__links {
      flex-direction: column;
      border: none;
      box-shadow: none;
    }
    .tabs__links>a {
        box-shadow: 0 2px 4px 0 #0d456f;
        padding-bottom: 14px;
        background-color: #fff;
    }
    .tabs>div:not(.tabs__links) {
      padding-left: 15px;
    }
  }
  .tabs>div:target {
    display: block;
  }

.client-s{

    margin-top: 110px;

    text-align: center;
}
.partners {
    margin-top: 73px;
    margin-bottom: -24px;
}
.clients{
    background: #E5E5E5;
    padding-top: 67px;
    padding-bottom: 20px;
    height: 582px;
}
.footer{
    background-color: #515151;
}
.footer-menu{
    display: flex;
}
.footer-menu>li{
    margin-right: 52px;
    color: #8D8D8D;
}
.logofooter{
    padding-top: 60px;
}
.logofooter2{
    padding-top: 20px;
    padding-bottom: 20px;
}
@media only screen and (max-width : 1200px) {
    .services-two__img {
        background: none;
    }
    .services-two__img img {
        right: -46px;
        top: 83px;
    }
    #ourWorks-image2 {

    }
    #ourWorks-image5 {

    }
    #ourWorks-image3 {

    }
    #ourWorks-image6 {

    }
}
@media only screen and (max-width : 990px) {
    .menu__btn {
        display: block !important; /* используем flex для центрирования содержимого */
      }
    .menu_header{
        display: none;
    }  
    .video {
        background: none;
    }
    .hero {
        top: 219px;
    }
    .vh-dependent {
        display: inline-block !important;
    }
    .problems{
        padding-top: 260px;
    }
    .problems-img{
        margin-left: -145px;
        margin-top: 100px;
    }
    .serv-list {
        display: none;
    }
    .item, .owl-item {
        width: 767px !important;
        margin-left: 89px;
    }
    .owl-carousel__play{
        display: none;
    }
    .owl-carousel .owl-stage-outer {
        height: 500px;
    }
    .services-two__img img {
        right: 45px;
    }
    #ourWorks-image3 {

    }
    #ourWorks-image6 {

    }
}
@media only screen and (max-width : 770px) {
    .search{
        display: none !important;
    }
    .logo {
        float: right;

    }
    #h_tel {
        margin-top: -28px;
        width: 228px;
    }
    .offer-cont {
        width: 314px;
        font-size: smaller;
        padding-right: 50px;
    }

    .offer-cont__title {
        font-size: 24px;
    }
    #menu {
        margin-top: -43px;
        background: none !important;
        z-index: 1000;
        padding-top: 19px;
    }

    .clients {
        background: #E5E5E5;
        padding-top: 67px;
        padding-bottom: 20px;
        height: 100%;
    }
    .certification__list {
        display: flex;
        flex-flow: column-reverse;
        padding: 0;
        list-style: none;
        height: 100%;
        margin-bottom: 20px;
    }
    .problems-img {
        display: none;

    }
    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        margin-top: 35px;
    }
    .owl-carousel .owl-item img {
        width: 108%;
    }
    .services-two__img img {
        right: 121px;
    }
    .services-two__text {
        width: 335px;
        margin-left: 265px;
    }
    .services-two__defign{
        width: 335px;
        margin-left: 265px;
    }

    .seeourworks {
        margin-top: -477px;
    }
    .s-b{
        margin-top: -688px;
        margin-left: -2px;
    }
    .ourWorks{
        height: 100%;
    }
    .testimonials {
        margin-bottom: 63px;
    }
    .nike{
        display: none;
    }
    .amd{
        display: none;
    }
    .clients {
        padding-bottom: 1px;
    }
    .logof{
        margin-top: 10px;
    }

    .footer-menu {
        margin-top: 34px;
    }
    .footer-menu>li {
        margin-right: 39px;
    }
}
@media only screen and (max-width : 480px) {
    .slider-gl {
        width: 321px;
        margin-left: 51px;
    }
    .section-title__label{
        margin-top: -11px;
    }

    .wrapperr {
        grid-template-columns: repeat(1, 2fr) !important;
        grid-template-rows: repeat(6, 200px) !important;
        grid-column-gap: 27px;
        grid-row-gap: 5em;
        margin-left: 73px;
    }
    .wrapper2{
        grid-template-columns: repeat(1, 2fr) !important;
        grid-template-rows: repeat(6, 200px) !important;
        grid-column-gap: 27px;
        grid-row-gap: 5em;
        margin-left: 3px;
    }
    .certification__list{
        display: block !important;

    }

    #h_tel {
        margin-left: 39%;
        margin-top: 16px !important;
    }
    #h_tel>p{
        border: 2px solid #0d85cb;
        padding: 5px;
    }
    .btn-adap{
        font-size: 8px;
        margin-left: 52%;
    }
    .logo{
        margin-right: 5%;
        margin-top: -46px;
    }
    #partners-h3 {
        font-size: 16px !important;
        width: 349px !important;
    }
    .partners-h6 {
       margin-top: 10px;
    }
    .client-s {

    }
    #san {
        margin-top: 65px;
        width: 100%;
        height: 1890px
    }
    .hero {
        background-size: 100% 73%;
        right: -128px;
    }

    .prodsec{
        margin-top: -10px;
    }

    .ourWorks-gallery {
        width: 207px;
        height: 243px;
    }
    .block-padding>img {
        width: 120px;
        height: 122px;
        margin-left: 40px;
    }
    .offer-cont__btn {

    }
    .productsec2{
        height: 200px;
    }
    .problems-img{
        display: none;
    }

    .section-title__heading {
        font-size: 3.25vw;
    }
    .problems {
        margin-left: 9px;
        margin-top: -372px;
    }
    .about__title {
        margin-bottom: 30px !important;
        font-size: 21px;
    }
    .about__text{
        font-size: 70%;
    }


    .about {
        margin-left: -8px;
        width: 99%;
        margin-top: 59px;
    }
    .services {
        margin-left: 65px;
    }
    .testimonials {
        width: 80%;
        margin-top: 63px
    }
    .clients {
        margin-right: -134px;
    }
    .footer{
        padding-left: 17px;
        margin-right: -134px;
    }

    .map-responsive {
        overflow: hidden;
        padding-bottom: 37.25%;
        margin-left: -30px;
        margin-bottom: 26px;
        position: relative;
        height: 0;
        width: 100%;
    }
    .clients{
        height: 100%;
    }

}
div.scrollup {
    position: fixed; /* фиксированная позиция */
    color: #fff; /* цвет текста */
    background-color: #646363; /* цвет заднего фона */
    right: 20px; /* расстояние от правого края */
    bottom: 10px; /* расстояние от нижнего края */
    padding: 4px 10px; /* отступы до содержимого блока */
    font-size: 20px; /* размер шрифта (иконки) */
    border-top-left-radius: 4px; /* скругление верхнего левого угла */
    border-top-right-radius: 4px; /* скругление верхнего правого угла */
    cursor: pointer; /* форма курсора */
    display: none; /* не отображать элемент */
    text-align: center; /*выравнивание содержимого элемента по центру */
  }
  div.scrollup:hover {
    background-color: #000; /* цвет заднего фона при наведении */
  }
/*burger*/
/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: none;
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
#menu{
    margin-top: -43px;
    background: #FFF;
    z-index: 1000;
    padding-top: 19px;
}
#h_tel{
    margin-top: -28px;
}
.certification__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
    .certification__item {
        margin-left: 81px;
        margin-bottom: 34px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        border-left: 1px solid #eee;
        transition: box-shadow 0.2s ease;
    }
.centeringin {
    /* margin: 10px 10px 50px; */
    margin: 10px 10px 25px;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb a {
    text-decoration: underline;
}
.certification__name img {
    float: left;
    width: 1.8em;
    margin-right: 0.5em;
}
.download__link {
    position: relative;
    width: 100%;
    text-align: center;
    transition: 0.25s;
}
.certification__name {
    position: relative;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: normal;
}
a {
    color: #1e398d !important;
    text-decoration: none !important;
}
.certification__item__im img{
    height: 223px;
    width: 223px;
}
.prods {
    display: inline-block;
    width: calc(100% - 230px);
    padding: 0px 0 0 30px;
    float: left;
}
.production-files__list {
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}
.production-files__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 24px;
    border: 1px solid #eee;
    margin-bottom: -1px;
    transition: box-shadow 0.2s ease;
}
.production-files__img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.production-file__name {
    margin-bottom: 6px;
    color: #000000;
    font-size: 18px;
    line-height: normal;
    font-weight: 700;
}
#partners-h3{
    font-size: 1.75rem;
    width: 498px;
}
.certification__item__content-4{
    margin-left: 67px;
}
.a__con-4{
    font-size: 14px;
}